{% extends "KidalApp/base.html" %}
{% load static %}

{% block content %}

<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Connexion</h1>
            <span class="color-text-a">Accès à votre compte</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Connexion
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Login Form ======= -->
  <section class="news-single nav-arrow-b">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-comments">
            <div class="title-box-d">
              <h3 class="title-d">Formulaire de connexion</h3>
            </div>
            {% if error_message %}
              <div class="alert alert-danger">{{ error_message }}</div>
            {% endif %}
            <form action="{% url 'login' %}" method="post" class="form-a">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="username" class="form-control form-control-lg form-control-a" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" class="form-control form-control-lg form-control-a" required>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-a">Se connecter</button>
                </div>
              </div>
            </form>
            <div class="text-center mt-3">
              <p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
              <p>Vous n'avez pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous ici</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Login Form-->

</main><!-- End #main -->

{% endblock %}
